# The purpose of this action is to calculate the code coverage and add the results on codecov.io
# codecov.io provides a badge showing the current coverage and generates coverage reports for each pull requests.
#
# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: test-coverage

jobs:
  test-coverage:
    runs-on: ${{ matrix.config.os }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      CIBERSORTX_EMAIL: ${{ secrets.CIBERSORTX_EMAIL }}
      CIBERSORTX_TOKEN: ${{ secrets.CIBERSORTX_TOKEN }}
      CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}

    steps:
      - uses: actions/checkout@v2

      - name: Update system dependencies
        # due to recent versions of GLIBC missing
        run: |
          sudo apt-get update && sudo apt-get install cmake libstdc++6 \
          libcurl4-openssl-dev libssl-dev libxml2-dev libfontconfig1-dev \
          libharfbuzz-dev libfribidi-dev \
          libfreetype6-dev libpng-dev libtiff5-dev libjpeg-dev -y

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install pak
        run: Rscript -e "install.packages('pak', repos='https://cran.rstudio.com/')"

      - name: Install Devtools
        run: Rscript -e "pak::pkg_install('devtools')"

      #    - name: Install NMF
      #      run: Rscript -e "pak::pkg_install('renozao/NMF@devel')"

      - name: Install BayesPrism
        run: Rscript -e "pak::pkg_install('omnideconv/BayesPrism')"

      - name: Install Bisque
        run: Rscript -e "pak::pkg_install('BisqueRNA')"

      - name: Install Bseq-sc
        run: Rscript -e "pak::pkg_install('shenorrlab/bseqsc')"

      - name: Install CDseq
        run: Rscript -e "pak::pkg_install('omnideconv/CDseq')"

      - name: Install DWLS
        run: Rscript -e "pak::pkg_install('omnideconv/DWLS')"

      - name: Install MuSiC
        run: Rscript -e "pak::pkg_install('omnideconv/MuSiC')"

      - name: Install MOMF
        run: Rscript -e "pak::pkg_install('shenorrlab/MOMF')"

      - name: Install SCDC
        run: Rscript -e "pak::pkg_install('omnideconv/SCDC')"

      - name: Install scBio
        run: Rscript -e "pak::pkg_install('amitfrish/scBio')"

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          dependencies: '"hard"' # do not install suggests
          extra-packages: any::rcmdcheck, any::rmarkdown, any::markdown, local::.
          needs: check
          #error-on: '"error"'

      - name: Test coverage
        run: covr::codecov(quiet = FALSE)
        shell: Rscript {0}

      - name: Upload reports to codecov
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          find . -iregex "omnideconv-tests/testthat.Rout.fail"
          chmod +x codecov
          ./codecov -t ${CODECOV_TOKEN}
